:root{
    --text-color-dark:rgb(121, 91, 64);
    --text-color-light: #fff;
    --primary-color: rgb(255, 255, 255);
    --secundary-color: rgb(173, 144, 110);
    --social-icon-shadow: rgb(143, 119, 97);
    --text-inside-input: rgb(236, 236, 236);

}