.form {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 55px 0;
    transition: 1s;


}

.form-login{
    background-color: var(--primary-color);
}

.form-register{
    background-color: var(--text-color-light);
    transform: translateX(-100%);
    z-index: -1;
    opacity: 0;

}

.login-container.switch .form-login{
    transform: translateX(100%);
}

.login-container.switch .form-register{
    transform: translateX(0%);
    z-index: 1;
    opacity: 1;
}

@media (max-width: 768px){
    .form{
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
    }
    .form-register{
        position: absolute;
        transform: translateX(100%);
    }
    .login-container.switch .form-register{
        transform: translateX(0%);
    }
}